.header-container {
    display: flex;
    background: var(--ion-color-octonary, var(--ion-color-septonary));
    align-items: center;
}

.header-container ion-input {
    --background: var(--ion-color-octonary, var(--ion-color-septonary));
    --border-radius: 20px;
    --padding-start: 10px;
    width: 0%;
}

.search-button {
    --background: ar(--ion-color-octonary, var(--ion-color-septonary));
    --background-hover: var(--ion-color-chitonary);
    --background-activated: var(--ion-color-chitonary);
    --background-focused: var(--ion-color-chitonary);
  
    --color: var(--ion-color-sextonary);
  
    --border-radius: 0px 0px 0px 0px;
    --border-color: var(--ion-color-chitonary);
    --border-style: solid;
    --border-width: 1px;
    transition: 200ms;
  }
