<!-- Navigation menu at top -->
<div class="navigation">
  <!-- Estado 1: Sin sesión -->
  <ul *ngIf="!isAuth">
    <li class="list active">
      <a href="#">
        <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
      </a>
    </li>
    <li class="list">
      <a href="#">
        <span class="icon"><ion-icon name="pricetags"></ion-icon></span>
      </a>
    </li>
    <li class="onSoping list">
      <a href="javascript:void(0)" role="button" tabindex="0" (click)="onSoping(true)">
        <span class="icon"><ion-icon name="basket"></ion-icon></span>
      </a>
    </li>
    <li class="list">
      <a href="#">
        <span class="icon"><ion-icon name="cart"></ion-icon></span>
      </a>
    </li>
    <li class="list">
      <a [routerLink]="['/login']" data-route>
        <span class="icon"><ion-icon name="log-in-outline"></ion-icon></span>
      </a>
    </li>
    <div class="indicator"><span></span></div>
  </ul>

  <!-- Estado 2: Sesión activa - Cliente cliente -->
  <ul *ngIf="isAuth && role === 'cliente'">
    <li class="list active">
      <a href="#">
        <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
      </a>
    </li>
    <li class="onSoping list">
      <a href="javascript:void(0)" role="button" tabindex="0" (click)="onSoping(true)">
        <span class="icon"><ion-icon name="basket"></ion-icon></span>
      </a>
    </li>
    <li class="list">
      <a href="#">
        <span class="icon"><ion-icon name="cart"></ion-icon></span>
      </a>
    <li class="list">
      <a href="#">
        <span class="icon"><ion-icon name="person"></ion-icon></span>
      </a>
    </li>
    <li class="list">
      <a [routerLink]="['/login']" data-route>
        <span class="icon"><ion-icon name="power"></ion-icon></span>
      </a>
    </li>
    <div class="indicator"><span></span></div>
  </ul>

  <!-- Estado 3: Sesión activa - Admin admin -->
  <ul *ngIf="isAuth && role === 'admin'">
    <li class="onSoping list">
      <a href="javascript:void(0)" role="button" tabindex="0" (click)="onSoping(true)">
        <span class="icon"><ion-icon name="cube"></ion-icon></span>
      </a>
    </li>
    <li class="list">
      <a href="#">
        <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
      </a>
    </li>
    <li class="list">
      <a href="#">
        <span class="icon"><ion-icon name="people"></ion-icon></span>
      </a>
    </li>
    <li class="list">
      <a href="#">
        <span class="icon"><ion-icon name="person"></ion-icon></span>
      </a>
    </li>
    <li class="logout list">
      <a href="javascript:void(0)" role="button" tabindex="0" (click)="logout()">
        <span class="icon"><ion-icon name="power"></ion-icon></span>
      </a>
    </li>
    <div class="indicator"><span></span></div>
  </ul>
</div>
<div [className]="isAuth && role === 'cliente' ? 'onSoping2 navSoping' : isAuth && role === 'admin' ? 'onSoping1 navSopingActive1 navSoping' : 'navSoping'">
  <ul>
    <li class="list">
      <a href="#">
        <span class="icon"><ion-icon name="laptop-outline"></ion-icon></span>
      </a>
    </li>
    <li class="list">
      <a href="#">
        <span class="icon"><ion-icon name="desktop-outline"></ion-icon></span>
      </a>
    </li>
    <li class="list">
      <a href="#">
        <span class="icon"><ion-icon name="hardware-chip-outline"></ion-icon></span>
      </a>
    </li>
  </ul>
</div>
<div>compgamerstore</div>
