<div class="nameHeader" (click)="colorInvert()">
  <img src="../../../assets/Logo/logo_light.png" alt="logo" class="imgLogo" />
  <h2>Comp</h2>
  <h2>Gamer</h2>
  <h2>Store</h2>
</div>
<!-- Navigation menu at top -->
<div class="navigation">
  <!-- Estado 1: Sin sesión -->
  <ul *ngIf="!isAuth">
    <li class="list active">
      <a [routerLink]="['/home']" data-route>
        <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
      </a>
    </li>
    <li class="list">
      <a href="#">
        <span class="icon"><ion-icon name="pricetags"></ion-icon></span>
      </a>
    </li>
    <li class="onSoping list">
      <a href="javascript:void(0)" role="button" tabindex="0" (click)="onSoping(true)">
        <span class="icon"><ion-icon name="basket"></ion-icon></span>
      </a>
    </li>
    <li class="list">
      <a href="#">
        <span class="icon"><ion-icon name="cart"></ion-icon></span>
      </a>
    </li>
    <li class="list">
      <a [routerLink]="['/login']" data-route>
        <span class="icon"><ion-icon name="log-in-outline"></ion-icon></span>
      </a>
    </li>
    <div class="indicator"><span></span></div>
  </ul>

  <!-- Estado 2: Sesión activa - Cliente cliente -->
  <ul *ngIf="isAuth && role === 'cliente'">
    <li class="list active">
      <a [routerLink]="['/home']" data-route>
        <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
      </a>
    </li>
    <li class="onSoping list">
      <a href="javascript:void(0)" role="button" tabindex="0" (click)="onSoping(true)">
        <span class="icon"><ion-icon name="basket"></ion-icon></span>
      </a>
    </li>
    <li class="list">
      <a href="#">
        <span class="icon"><ion-icon name="cart"></ion-icon></span>
      </a>
    <li class="list">
      <a href="#">
        <span class="icon"><ion-icon name="person"></ion-icon></span>
      </a>
    </li>
    <li class="list">
      <a href="javascript:void(0)" role="button" tabindex="0" (click)="logout()">
        <span class="icon"><ion-icon name="power"></ion-icon></span>
      </a>
    </li>
    <div class="indicator"><span></span></div>
  </ul>

  <!-- Estado 3: Sesión activa - Admin admin -->
  <ul *ngIf="isAuth && role === 'admin'">
    <li class="onSoping list">
      <a href="javascript:void(0)" role="button" tabindex="0" (click)="onSoping(true)">
        <span class="icon"><ion-icon name="cube"></ion-icon></span>
      </a>
    </li>
    <li class="list">
      <a href="/home">
        <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
      </a>
    </li>
    <li class="list">
      <a href="#">
        <span class="icon"><ion-icon name="people"></ion-icon></span>
      </a>
    </li>
    <li class="list">
      <a href="#">
        <span class="icon"><ion-icon name="person"></ion-icon></span>
      </a>
    </li>
    <li class="logout list">
      <a href="javascript:void(0)" role="button" tabindex="0" (click)="logout()">
        <span class="icon"><ion-icon name="power"></ion-icon></span>
      </a>
    </li>
    <div class="indicator"><span></span></div>
  </ul>
</div>
<!-- Navegación sólo para cliente -->
<div *ngIf="isAuth && role === 'cliente'" class="onSoping2 navSoping">
  <ul>
    <li class="list">
      <a href="#">
        <span class="icon"><ion-icon name="laptop-outline"></ion-icon></span>
      </a>
    </li>
    <li class="list">
      <a href="#">
        <span class="icon"><ion-icon name="desktop-outline"></ion-icon></span>
      </a>
    </li>
    <li class="list">
      <a href="#">
        <span class="icon"><ion-icon name="hardware-chip-outline"></ion-icon></span>
      </a>
    </li>
  </ul>
</div>

<!-- Navegación sólo para admin -->
<div *ngIf="isAuth && role === 'admin'" class="onSoping1 navSopingActive1 navSoping">
  <ul>
    <li class="list">
      <a [routerLink]="['/products']" [queryParams]="{ type: 'laptop' }" data-route>
        <span class="icon"><ion-icon name="laptop-outline"></ion-icon></span>
      </a>
    </li>
    <li class="list">
      <a [routerLink]="['/products']" [queryParams]="{ type: 'desktop' }" data-route>
        <span class="icon"><ion-icon name="desktop-outline"></ion-icon></span>
      </a>
    </li>
    <li class="list">
      <a [routerLink]="['/products']" [queryParams]="{ type: 'hardware' }" data-route>
        <span class="icon"><ion-icon name="hardware-chip-outline"></ion-icon></span>
      </a>
    </li>
  </ul>
</div>

<!-- Opcional: navegación para otros casos (no auth, otros roles) -->
<div *ngIf="!isAuth || (role !== 'cliente' && role !== 'admin')" class="navSoping">
  <ul>
    <li class="list">
      <a href="#">
        <span class="icon"><ion-icon name="laptop-outline"></ion-icon></span>
      </a>
    </li>
    <li class="list">
      <a href="#">
        <span class="icon"><ion-icon name="desktop-outline"></ion-icon></span>
      </a>
    </li>
    <li class="list">
      <a href="#">
        <span class="icon"><ion-icon name="hardware-chip-outline"></ion-icon></span>
      </a>
    </li>
  </ul>
</div>

<div class="contain-loading">
  <div class="loading">
    <div class="loading">
      <div class="loading">
        <div class="loading">
          <div class="loading">
            <div class="loading">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
