.search-button {
  --background: ar(--ion-color-octonary, var(--ion-color-septonary));
  --background-hover: var(--ion-color-chitonary);
  --background-activated: var(--ion-color-chitonary);
  --background-focused: var(--ion-color-chitonary);

  --color: var(--ion-color-sextonary);

  --border-radius: 0px 0px 0px 0px;
  --border-color: var(--ion-color-chitonary);
  --border-style: solid;
  --border-width: 1px;
  transition: 200ms;
}

.header-container {
  display: flex;
  background: var(--ion-color-octonary, var(--ion-color-septonary));
  align-items: center;
}

.header-container ion-input {
  --background: var(--ion-color-octonary, var(--ion-color-septonary));
  --border-radius: 20px;
  --padding-start: 10px;
  width: 0%;
}

.search-active {
  width: 100%;
}

.search-active ion-button {
  display: none !important;
}

.table-container {
  --bs-table-bg-type: striped;
  --bs-table-striped-bg: var(--ion-color-octonary, var(--ion-color-septonary));
  --bs-table-striped-color: var(--ion-color-sextonary);
  vertical-align: middle;
  transition: 400ms;
}

.table-container img {
  width: 16em;
  min-width: 250px;
  object-fit: contain;
  border-radius: 20px;
}

.table>:not(caption)>*>* {
  background-color: var(--ion-color-tridenary, var(--ion-color-septonary)) !important;
  color: var(--bs-table-color-state, var(--bs-table-color-type, var(--ion-color-sextonary))) !important;
  /*   background-color: var(--ion-color-denary, var(--ion-color-septonary)) !important;
  color: var(--bs-table-color-state, var(--bs-table-color-type,  var(--ion-color-octonary))) !important; */
  --bs-table-striped-color: var(--ion-color-sextonary);
  transition: 400ms;
}

.btn-edit,
.btn-desactivate,
.btn-delete {
  --background: var(--ion-color-quaternary);
  --color: var(--ion-color-sextonary);

  --border-radius: 0px;
  --border-color: transparent;
  --border-style: solid;
  --border-width: 0px;
  border-radius: 10px !important;


  --padding-top: 10px;
  --padding-bottom: 10px;
  border-radius: 6px !important;
  overflow: hidden;
  --transition: all 0.2s ease-in-out;
}

.btn-edit,
.btn-desactivate,
.btn-delete svg {
  color: var(--ion-color-sextonary);
}

.btn-edit:hover {
  --background: var(--ion-color-tridenary) !important;
  box-shadow: 0 0px 12px 4px var(--ion-color-secondary) !important;
}

.btn-desactivate {
  --background: var(--ion-color-secondary);
}

.btn-desactivate:hover {
  --background: var(--ion-color-tertiary) !important;
  box-shadow: 0 0px 12px 4px var(--ion-color-primary) !important;
}

.btn-delete {
  --background: var(--ion-color-denary);
  --color: var(--ion-color-novenary);
}

.btn-delete:hover {
  --background: var(--ion-color-novenary) !important;
  box-shadow: 0 0px 12px 4px var(--ion-color-secondary) !important;
  --color: var(--ion-color-sextonary);
}

.mobileView {
  display: none;
  width: 100%;
}

.productDescription {
  display: block;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: anywhere;
}

.pcView {
  display: table-cell;
}

.action-buttons {
  display: flex;
  gap: 5px;
  justify-content: center;
}

.table-container tr:hover {
  --bs-table-striped-bg: var(--ion-color-tertiary, var(--ion-color-septonary));
  transition: 300ms;
}

.table>:not(caption) tr:not(:has(th)):hover>* {
  background-color: var(--ion-color-tertiary, var(--ion-color-septonary)) !important;
  transition: 300ms;
}

@media (max-width: 768px) {
  .pcView {
    display: none;
  }

  .mobileView {
    display: block;
  }

  .table-container td {
    text-align: center;
  }
}
