<ion-header [translucent]="true">
  <app-menupage></app-menupage>
  <div #header class="header-container" [class.search-active]="searchActive">
    <ion-toolbar>
      <ion-title>{{ pageTitle }}</ion-title>
    </ion-toolbar>

    <ion-button id="search-button" class="search-button" (click)="activarBusqueda()" slot="end" type="button">
      <ion-icon name="search-outline"></ion-icon>
    </ion-button>

    <ion-input #searchInput id="search-input" class="search-input" type="text" placeholder="Buscar producto"
      [class.active]="searchActive" [style.width]="searchActive ? '100%' : '0'" [attr.tabindex]="searchActive ? 0 : -1"
      [readonly]="!searchActive" [autofocus]="searchActive">
      <ion-icon name="search-outline" slot="start"></ion-icon>
    </ion-input>
  </div>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="px-4 py-3">
    <ion-button (click)="navigateToCreate()">
      Añadir producto
    </ion-button>
  </div>

  <!-- Estado vacío -->
  <div *ngIf="products.length === 0" class="ion-text-center ion-padding">
    <ion-icon name="cube-outline" style="font-size: 48px;"></ion-icon>
    <p>No hay productos para mostrar.</p>
  </div>

  <div class="container-products">
    <table class="table table-striped table-container">
      <thead class="thead-light">
        <tr>
          <th scope="col" class="pcView">Imagen</th>
          <th scope="col" class="mobileView">productos</th>
          <th scope="col" class="pcView">Nombre</th>
          <th scope="col" class="pcView">Descripción</th>
          <th scope="col" class="pcView">Precio</th>
          <th scope="col" class="pcView">Precio</th>
          <th scope="col" class="pcView">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td>
            <img [src]="product.product_image || 'assets/placeholder-product.png'" alt="Product Image"
              class="product-image" />
            <div class="mobileView">
              <p>{{ product.product_name }}</p>
              <p class="productDescription">{{ product.description }}</p>
              <p *ngIf="product.stock!=null"><ion-icon name="albums"></ion-icon> {{ product.stock }}</p>
              <p *ngIf="product.stock==null"><ion-icon name="albums"></ion-icon> 0</p>
              <p>{{ product.price | currency }}</p>
              <div class="action-buttons">
                <ion-button expand="full" (click)="editProduct(product)" class="btn-edit"
                  style="max-width: max-content; margin:0px;">
                  <ion-icon name="pencil-sharp"></ion-icon>
                </ion-button>
                <ion-button expand="full" class="btn-desactivate" [routerLink]="['/products/viewproduct']"
                  [queryParams]="{ id: product.uid, type: product.type }" style="max-width: max-content; margin:0px;">
                  <ion-icon name="power"></ion-icon>
                </ion-button>
                <ion-button expand="full" class="btn-delete" style="max-width: max-content; margin:0px;">
                  <ion-icon name="trash-bin-sharp"></ion-icon>
                </ion-button>
              </div>
            </div>
          </td>
          <td class="pcView">{{ product.product_name }}</td>
          <td class="pcView productDescription"><p class="productDescription">{{ product.description }}</p></td>
          <td class="pcView" *ngIf="product.stock!=null">{{ product.stock }}</td>
          <td class="pcView" *ngIf="product.stock==null">0</td>
          <td class="pcView">{{ product.price | currency }}</td>
          <td class="pcView">
            <div class="action-buttons">
              <ion-button expand="full" (click)="editProduct(product)" class="btn-edit"
                style="max-width: max-content; margin:0px;">
                <ion-icon name="pencil-sharp"></ion-icon>
              </ion-button>
              <ion-button expand="full" class="btn-desactivate" [routerLink]="['/products/viewproduct']"
                [queryParams]="{ id: product.uid, type: product.type }" style="max-width: max-content; margin:0px;">
                <ion-icon name="power"></ion-icon>
              </ion-button>
              <ion-button expand="full" class="btn-delete" style="max-width: max-content; margin:0px;">
                <ion-icon name="trash-bin-sharp"></ion-icon>
              </ion-button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ion-content>
