<ion-header [translucent]="true">
  <app-menupage></app-menupage>
  <div #header class="header-container" [class.search-active]="searchActive">
    <ion-toolbar>
      <ion-title>products</ion-title>
    </ion-toolbar>
    <ion-button 
      id="search-button" 
      class="search-button" 
      (click)="activarBusqueda()" 
      slot="end"
      type="button">
      <ion-icon name="search-outline"></ion-icon>
    </ion-button>
    <ion-input
      #searchInput
      id="search-input"
      class="search-input"
      type="text"
      placeholder="Buscar producto"
      [class.active]="searchActive"
      [style.width]="searchActive ? '100%' : '0'"
      [attr.tabindex]="searchActive ? 0 : -1"
      [readonly]="!searchActive" 
      [autofocus]="searchActive">
      <ion-icon name="search-outline" slot="start"></ion-icon>
    </ion-input>
  </div>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <ion-button>Añadir producto</ion-button>
  </div>
  <div class="container-products">
    <ion-card *ngFor="let product of products" class="product-card">
      <img [src]="product.imageUrl" alt="Product Image" class="product-image"/>
      <ion-card-header>
        <ion-card-title>{{ product.product_name }}</ion-card-title>
        <ion-card-subtitle>{{ product.category }} - {{ product.subcategory }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>{{ product.description }}</p>
        <p>Price: {{ product.price | currency }}</p>
      </ion-card-content>
      <ion-button expand="full" color="primary">Edit</ion-button>
      <ion-button expand="full" color="danger">Delete</ion-button>
    </ion-card>
  </div>
</ion-content>
