<ion-header [translucent]="true">
  <app-menupage></app-menupage>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="container-login">
      <div class="transision"></div>
      <!-- Formulario para realizar el logeo -->
      <form class="login-form" [formGroup]="loginForm" (ngSubmit)="login()">
        <ion-img src="../../../../assets/Logo/logo_light.png" alt="Logotipo" class="logo imgLogo"></ion-img>
        <ion-item>
          <ion-label position="floating" id="emailLabel" class="emailLabel">Email</ion-label>
          <ion-input type="email" id="emailInput" class="emailInput" required formControlName="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" required formControlName="password"></ion-input>
        </ion-item>
        <p class="olvidaste-contrasena" (click)="activarOlvidasteContrasenaForm()">¿Olvidaste tu contraseña?</p>
        <ion-button expand="full" type="submit" shape="round" [disabled]="!loginForm.valid" class="btn-login">Login</ion-button>
        <ion-button expand="full" type="button" shape="round" (click)="loginWithGoogle()">
          <ion-icon name="logo-google"></ion-icon>
            Iniciar Sesión con Google
          <ion-icon name="logo-google"></ion-icon>
        </ion-button>
        <ion-button class="RegistrarseLogin" (click)="activarLoginForm()">Registrarse</ion-button>
      </form>
      <!-- Formulario registra usuario-->
      <form class="register-form" [formGroup]="registerForm" (ngSubmit)="register()">
        <!-- Foto de perfil -->
        <div class="register-avatar">
          <ion-label>Foto de perfil</ion-label>
          <label class="avatar" for="photoInput">
            <img *ngIf="photoPreview; else avatarPlaceholder" [src]="photoPreview" alt="Foto de usuario" />
            <ng-template #avatarPlaceholder>
              <ion-icon name="person-circle-outline"></ion-icon>
            </ng-template>
            <input id="photoInput" type="file" accept="image/*" (change)="onPhotoSelected($event)" hidden />
          </label>
        </div>
        <!-- informacion basica -->
        <div>
          <ion-item>
            <ion-label position="floating">Nombres</ion-label>
            <ion-input type="text" formControlName="first_name" required></ion-input>
          </ion-item>
        </div>
        <div>
          <ion-item>
            <ion-label position="floating">Apellidos</ion-label>
            <ion-input type="text" formControlName="last_name" required></ion-input>
          </ion-item>
        </div>
        <div>
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" formControlName="email" required></ion-input>
          </ion-item>
        </div>
        <div>
          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password" formControlName="password" required></ion-input>
          </ion-item>
        </div>
        <div>
          <ion-item>
            <ion-label position="floating">Confirmar contraseña</ion-label>
            <ion-input type="password" formControlName="confirm_password" required></ion-input>
          </ion-item>
        </div>
        <div>
          <ion-item>
            <ion-label position="floating">Edad</ion-label>
            <ion-input type="number" formControlName="age" required></ion-input>
          </ion-item>
        </div>
        <!-- Tipo de documento -->
        <div>
          <ion-item>
            <ion-select label="Tipo de documento" interface="popover" placeholder="Seleccione..." justify="start" formControlName="document_type">
              <ion-select-option value="CC">Cedula de ciudadania</ion-select-option>
              <ion-select-option value="CE">Cedula de extranjeria</ion-select-option>
              <ion-select-option value="NIT">Identificacion empresarial</ion-select-option>
              <ion-select-option value="PAST">Pasaporte</ion-select-option>
            </ion-select>
          </ion-item>
        </div>
        <!-- Numero de documento -->
        <div>
          <ion-item>
            <ion-label position="floating">Numero de documento</ion-label>
            <ion-input type="number" formControlName="document_number" required></ion-input>
          </ion-item>
        </div>
        <!-- ubicacion -->
        <div>
          <ion-item>
            <ion-select label="Ciudad de residencia" [interfaceOptions]="customDepartamentActionSheetOptions"
              interface="modal" placeholder="Seleccione..." (ionChange)="fruitSelectionChanged($event.detail.value)" formControlName="departament">
              <ion-select-option *ngFor="let Departament of valueDepartament" [value]="Departament.value">
                {{ Departament.text }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </div>
        <div>
          <ion-item>
            <ion-select label="Ciudad de residencia" [interfaceOptions]="customMunicipalityActionSheetOptions"
              interface="modal" placeholder="Seleccione..." formControlName="municipality">
              <ion-select-option *ngFor="let Municipality of valueMunicipality" [value]="Municipality.value">
                {{ Municipality.text }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </div>
        <div>
          <ion-item>
            <ion-label position="floating">Direreccion</ion-label>
            <ion-input type="text" formControlName="address" required></ion-input>
          </ion-item>
        </div>
        <div>
          <ion-item>
            <ion-label position="floating">numero telefonico</ion-label>
            <ion-input type="number" formControlName="phone" required></ion-input>
          </ion-item>
        </div>
        <!-- Campo oculto para el rol (por defecto admin) -->
        <input type="hidden" formControlName="role" value="admin" />
        <div class="button-register">
          <ion-button expand="full" type="submit" shape="round" [disabled]="!registerForm.valid">Registrarse</ion-button>
          <ion-button expand="full" type="button" shape="round" class="clancelar" (click)="activarLoginForm()">cancelar</ion-button>
        </div>
      </form>
      <!-- Formulario para recuperar contraseña -->
      <form class="olvidaste-contrasena-form" [formGroup]="recoveryPasswordForm"   (ngSubmit)="recoverPassword()">
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" required></ion-input>
        </ion-item>
        <ion-button expand="full" type="submit" shape="round" [disabled]="!recoveryPasswordForm.valid">Recuperar contraseña</ion-button>
        <ion-button expand="full" type="button" shape="round" class="clancelar" (click)="activarOlvidasteContrasenaForm()">cancelar</ion-button>
      </form>
    </div>
  </div>
</ion-content>
