<ion-header [translucent]="true">
  <app-menupage></app-menupage>
  <ion-toolbar>
    <div>
      <ion-title>
        Home
      </ion-title>
      <ion-input></ion-input>
    </div>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div>
  </div> 

  <swiper-container
    slides-per-view="1"
    loop="true"
    autoplay="false"
    pagination="true"
    navigation="true"
    style="width: 100%; height: 250px;"
  >
    <swiper-slide>
      <img src="assets/img1.jpg" />
    </swiper-slide>
    <swiper-slide>
      <img src="assets/img2.jpg" />
    </swiper-slide>
    <swiper-slide>
      <img src="assets/img3.jpg" />
    </swiper-slide>
  </swiper-container>
</ion-content>
